*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(1,1,1);
}

/* header */

header{
    margin: 0px 0.75rem;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
}

nav{
    width: 62.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-menu{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.15rem;
}

.item-menu:hover{
    color: rgb(0, 140, 255);
}

/* section home */

#home{
    display: flex;
    justify-content:space-around;
    /* background-color: aliceblue; */
    align-items:flex-start;
    width: 100%;
    height: 80vh;
}

.description{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#home h1{
    margin: 0 2rem;
    text-align: start;
    font-family: sans-serif;
    font-size: 2.80rem;
    font-weight: 100;
    color: white;
}

span{
    color: rgb(0, 140, 255);
}

#home p{
    margin: 2rem;
    font-size: 1.75rem;
    font-family:"Roboto", serif;
    letter-spacing: 1px;
    font-weight: 200;
    color: white;
}

button{
    width:max-content;
    height: 2.5rem;
    /* text-align: center; */
    border: 1px solid rgb(0, 140, 255);
    border-radius: 0.5rem;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 2rem;
    padding: 0.25rem;
    display: flex;
    background-color: rgb(0, 140, 255);
    color: white;
}

#home img{
    width: 600px;
    /* height: 450px; */
    background-size: cover;
    /* filter: drop-shadow(5px 4px 2px rgb(0, 140, 255)); */
    filter: drop-shadow(5px 4px 2px rgb(4, 202, 237));
}

.imageHero{
    margin: 0 2rem;
    border-radius: 4rem 0.5rem;
    background: #43424231;
}

#activitiesFavourites{
    width: 100%;
    height: 80vh;
}

#activitiesFavourites h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 2.25rem;
    font-weight: 100;
    color: white;
}

.charactestics{
    margin: 4rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.charactestics article{
    width: 100%;
    display: flex;
    align-self: center;
}

.charactestics img{
    width: 120px;
    height: 125px;
}

.charactestics h3{
    /* text-align: center; */
    color: white;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.charactestics p{
    color: white;
}